table.budget-top, table.budget-taxes, table.budget-bottom {
	border: none;
	width: 620px;
}

table.budget-top {
	border-bottom: 1px solid white;
	margin-top: 6px;
}

table.budget-taxes {
	border-width: 0px;
}

table.budget-bottom {
	border-top: none;
}

table.budget-top td, table.budget-taxes td, table.budget-bottom td {
	text-align: right;
}

table.budget-top tr td, table.budget-taxes tr td, table.budget-bottom tr td, table.budget-top tr th, table.budget-taxes tr th, table.budget-bottom tr th {
	padding: 4px 8px;
}

table.budget-top tr.alt td, table.budget-taxes tr.alt td, table.budget-bottom tr.alt td, table.budget-top tr.alt th, table.budget-taxes tr.alt th, table.budget-bottom tr.alt th {
	background-color: #d4ceb8;
}

tr.alt td.change {
	background-color: #fff !important;
}

table.budget-taxes td {
	background-color: #c1bfd0;
	font-size: 10px;
}

tr.title td {
	background-color: #bfb695;
	padding: 6px 8px;
	height: 60px;
	vertical-align: middle;
	color: #6d313a;
}

tr.header th, tr.header td {
	background-color: #914452;
	color: #fff;
}

tr.total td, tr.total th {
	background-color: #914452;
	color: #fff;
	padding: 6px 8px;
}

table.change-settings {
	width: 509px;
	border-collapse: collapse;
}

table.change-settings td {
	border-top: 1px solid #ccc;
}

table.change-settings td td {
	border-top: none;
}

.change {
	font-size: 83% !important;
	text-align: center;
}

td.wage {
	background-color: #007987;
	color: #fff;
	text-align: center !important;
	padding: 10px 8px !important;
}

input.check-inline {
	position:relative;
	top:2px;
}

#help-box {
	margin-top: 5px;
}

th {
  text-align: left;
  font-size: 12px;
}
