div.content.frs div.container {
	margin-bottom: 1em;
}
td {
	vertical-align: top;
	padding: 6px 4px;
}
ul.steps {
	margin: 10px 0 24px 0 !important;
	padding: 0 !important;
	height: 60px;
	background-color: #fff;
}
ul.steps li {
	width: 40px;
    display: block;
    font-size: 88%;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	float: left;
	text-align: center;
}
ul.steps li.step {
    width: 70px;
    margin: 0 !important;
    padding: 0 !important;
}
a.roundbutton {
	display: block;
	background-color: transparent;
	background-image: url(images/button-round-step.gif);
	background-repeat: no-repeat;
	background-position: center 0px;
	width: 40px;
	height: 40px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
a.roundbutton:hover    			{ background-position: center -40px; }
a.roundbutton.inactive 			{ background-position: center -80px; }
a.roundbutton.inactive:hover 	{ background-position: center -80px;	}
a.roundbutton.active 			{ background-position: center -40px; }
a.roundbutton.empty, a.roundbutton.back, a.roundbutton.next, a.roundbutton.frshelp, a.roundbutton.reset {
	width: 42px;
}
a.roundbutton.empty { background-image: none; }
a.roundbutton.back { background-image: url(images/button-round-back.gif); }
a.roundbutton.next { background-image: url(images/button-round-next.gif); }
a.roundbutton.frshelp { background-image: url(images/button-round-help.gif); }
a.roundbutton.reset { background-image: url(images/button-round-reset.gif); }
a.squarebutton, div.squarebutton {
	display: block;
	background-color: transparent;
	background-image: url(images/button-square-step.gif);
	background-repeat: no-repeat;
	background-position: center -40px;
	width: 70px;
	height: 40px;
	text-align: center;
	font-weight: bold;
    font-size: 180%;
	line-height: 16px;
	text-decoration: none;
	color: white;
}
a.squarebutton span.small, div.squarebutton span.small {
	font-size: 60% !important;
}
a.squarebutton:link, a.squarebutton:active, a.squarebutton:visited, a.squarebutton:hover { color: white; }
a.squarebutton:hover { background-position: center -80px; }
a.squarebutton.active { background-position: center 0px; }
a.squarebutton.mini, div.squarebutton.mini {
	background-image: url(images/button-square-step-small.gif);
	background-position: center 0px;
	width: 20px;
	height: 20px;
	float: left;
	text-decoration: none !important;
	line-height: 20px;
	margin: -3px 5px 0 0;
	font-size: 100%;
}
a.squarebutton.mini:hover { background-position: center 0px; color: white; }
h3 a.squarebutton.mini, h3 div.squarebutton.mini { color: white; }
div.squarebutton.inactive { background-image: url(images/button-square-inactive.gif); background-position: center 0px; }
div.squarebutton.inactive:hover { background-position: center 0px;	}
label strong {
	font-family: Trebuchet, "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 120%;
    color: #750B0C;
}
.validation-advice {
	color: #750B0C;
	font-style: italic;
	font-size: 88%;
}
img.context-help-icon {
	margin-left: 6px;
	vertical-align: middle;
}
#help-box {
	display: none;
	overflow: auto;
	font-size: 88%;
	padding: 4px;
	margin-top: 100px;
}
#help-box p {
	margin-bottom: 0;
	padding-bottom: 0;
}
#help-box img {
	float: left;
	margin-right: 4px;
}
.frs-note {
	font-size: 88%;
}
h2.steptitle {
	float:left;
	margin-top: 6px;
	padding-left: 14px;
	width: 350px;
}
div.buttons {
	float:right;
	padding-right: 24px;
}
div.buttons a {
	float: left;
}